<div class="jumbotron">
  <center><h1><i class="fa fa-circle-o"></i> Wavey To-Do App</h1>
  <p>This is my smart to-do list</p>
  <%= link_to "Sign up", '#', class: "btn btn-primary btn-lg" %>
</center></div>